# Ignore datasets
Dataset/
occlusion_dataset/
OutputDatas/

# Python cache
__pycache__/
*.pyc

# Training scripts (not needed in runtime)
train_*.py
preprocess_*.py
evaluate_*.py

# Media / unnecessary files
*.png
*.jpg
*.jpeg
*.mp4
.mov

# Env folders
eval_env/

# Git & system
.git
.vscode
.DS_Store
Thumbs.db